node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android Studio
.project
.settings
.classpath

# Watchman
.watchmanconfig

# Android
.idea
.gradle
local.properties
*.iml
/android/

# Node
node_modules
*.log


# Additional SDKs
/sdks/download
/sdks/hermes
/sdks/hermesc

# Visual studio
.vscode
.vs

# Android memory profiler files
*.hprof